.character {
  --imageUrl: url(../public/pack/avatar-0.png);
  --healthState: 1;

  position: relative;
  display: grid;
  grid-template: 1rem / 2rem auto;
  gap: 0.5rem;

  .avatar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;

    width: 2rem;
  }
  .avatar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 2rem;
    height: 2rem;

    background-image: var(--imageUrl);
    background-size: contain;
    background-position: center;
    background-color: black;

    border: 1px solid #90854d;
  }

  .character-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .health-bar {
    --color: #0cc170;

    width: 6rem;
  }

  .effects {
    display: flex;
    gap: 8px;

    .effect {
      display: flex;
      gap: 2px;
    }
  }
}
