.stage {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.event {
  position: relative;
  height: 100%;

  .enemy {
    width: 100%;
    height: 100%;

    background-image: var(--imageUrl);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .enemy-stats {
    --health: 1;

    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 2rem;
    background: #843c42;
  }
  .enemy-stats:before,
  .enemy-stats:after {
    left: 0;
    top: 0;
    height: 100%;
    
  }
  .enemy-stats:before {
    position: absolute;
    content: "";
    width: calc(var(--health) * 100%);
    background-color: red;
  }

  .enemy-stats:after {
    position: relative;
    content: attr(data-value);
    display: block;
    width: 100%;
    text-align: center;
    color: white;
  }
}

.event-summary {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}